<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 4M</title>
</head>
<body>
     <div class="border">
        <div class="card">
            <br>
            <br>
            <img src="../img/he.jpg" alt="4M" class="fourmouth">
            <div class="text">
                <h1 style="color: #fdfdfd;">สุขสันต์วันครบ 4 เดือนนะค้าบที่รัก</h1>
                <p style="color: #e0accb;"> 
                    สุขสันต์วันครบรอบสี่เดือนนะค้าบบ เดือนนี้เราได้เจอกันแล้วนะค้าบ เปิดเทอมแล้วดีใจจัง ไม่ได้เจอกันมาสองเดือนเค้าโครตคิดถึงเตงเลยนะค้าบ
                    <br><br>
                    ดีใจจังได้เจอหน้าแฟนทุกวันเลย ไม่อยากหยุดเสาร์อาทิตย์ค้าบ อยากเจอหน้าทุกวันเลย อยากเห็นรอยยิ้มสวยๆอันนั้นจัง อยากเห็นความน่ารักของแฟนอ่า
                    <br><br>
                    เดือนนี้ขอโทษด้วยนะค้าบบ ที่บ้างครั้งเค้าชอบงี่เง่า ชอบน้อยใจเรื่องบ้างเรื่อง ที่หึงมากๆๆๆๆๆๆๆ หวงงงสุดๆ แต่เป็นแบบนี้เพราะเค้ารักเตงมากนะค้าบ รักที่สุดในโลกเลย
                    <br><br>
                    ขอบคุณนะค้าบที่เข้าใจเค้ามาตลอดเลย ขอบคุณนะที่ค่อยรับฟังปัญหาของเค้า ค่อยให้คำปรึกษาดีๆตลอดเลย ขอบคุณสำหรับทุกอย่างเลยนะค้าบบ
                    <br><br>
                    สุดท้ายนี้เค้าอยากจะบอกว่า ขอให้เราสองคนอยุ่ด้วยกันนนานๆนะค้าบ เค้ารอวันที่จะได้อยู่กับเตงไม่ไหวละค้าบ เรามาผ่านมันไปด้วยกันนะค้าบที่รัก
                </p>
                <p class="muted">- Yuki -</p>
            </div>
            <div class="space"></div>
            <audio controls autoplay>
                <source src="../audio/soung.mp3" type="audio/mp3"> Your browser does not support the audio element.
            </audio>
            <script src="../js/script.js"></script>
        </div>
     </div>
</body>
</html>