<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>จะพยายามเพื่ออะไร</title>
</head>
    <body>
        <div class="card">
            <div class="text">
                <h1>โดนHackแล้วมึงไอ่ควาย</h1>
                <h2>เป็นเหี้ยไรครับเสือกเรื่องชาวบ้านไม่หยุดอีส้นตีน</h2>
                <h2><span>ส่งคำขอโทษมาถ้าไม่อยากโดน</span> <span style="color: red;">เตือนแล้วนะ</span></h2>
            </div>
            <form action="/byeee" method="POST">
                <input type="text" id="code" name="code" placeholder="ไม่อยากโดนHackก็พิมข้อโทษมาจะได้จบเรื่อง">
                <br>
                <br>
                <button class="btts" type="submit">ส่งคำขอโทษ</button>
            </form>
            <h2><span id="countdown"></span></h2>
            <img src="../img/4321630.png" alt="byebye">
        </div>
    </body>
    <script src="../js/main.js"></script>
</html>