<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>ใช่แฟนไหมที่กดเข้ามา</title>
</head>

<body>
    <div class="card">
        <div class="text">
            <h1>ต้องเป็นแฟนนะถึงจะรู้รหัส</h1>
            <h2><span style="color: red;">คำใบ้:</span> มีรหัสทั้งหมด 6 ตัว มี 0 หนึ่งตัว</h2>
        </div>

        <form action="/verify" method="POST">
            <input type="text" id="code" name="code" placeholder="ไม่ใช่แฟนก็ไม่ต้องใส่รหัส">
            <br>
            <br>
            <button class="btts" type="submit">รหัสจะถูกไหมน้า</button>
        </form>
        <br>
        <img src="../img/lock_heart-512.png" alt="lock-heart">
    </div>
</body>

</html>